* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: inline;
}
.jumbotron {
    padding: 60px;
    background-color: #ffaf03;
    font-weight: 800;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}
.displayResult {
    width: 100%;
    color: #fff;
    background-color: #3c2d3c;
    font-weight: bold;
    font-size: 2em;
    padding: 20px 10px 20px 10px;
    border: 2px solid black;
}
.buttonRow {
    display: flex;
}
.button {
    flex-basis: 25%;
    color: #000;
    background-color: #c9c4b9;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 30px;
    border: 2px solid #000;
    cursor: pointer;
}
.button:hover {
    color: #fff;
}
.invers, .op, .ce {
    background-color: #ffaf03;
}
.equals {
    flex-basis: 50%;
}
.box {
    background-color: #91908c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
}
.histori {
    width: 80%;
    margin: 60px auto 0 auto;
    overflow: scroll;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px;
}
th {
    color: #000;
    background-color: #ffaf03;
}
tr:nth-child(even) {
    background-color: #c9c4b9;
}
footer {
    text-align: center;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    font-weight: bold;
    background-color: aqua;
    margin-top: 20px;
}
@media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
    .history {
        width: 100%;
    }
}